/aclocal.m4
/autom4te.cache/
/.autotools
/autogen.sh
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/INSTALL
/install-sh
/libtool
/ltmain.sh
/m4/
/Makefile
/Makefile.in
/missing
/src/config.h
/src/config.h.in
/src/.deps/
/src/.libs/
/src/Makefile
/src/Makefile.in
/src/*.o
/src/stamp-h1
/src/openblox
