/aclocal.m4
/autom4te.cache/
/.autotools
/autogen.sh
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/Makefile
/Makefile.in
/missing
/openblox/config.h
/openblox/config.h.in
/openblox/.deps/
/openblox/.libs/
/openblox/Makefile
/openblox/Makefile.in
/openblox/*.o
/openblox/stamp-h1